<html>
    <head> 
        <link href="/base.css" rel="stylesheet">
        <title>Image Composer</title>
        {% block imports %}
        {% endblock %}
    </head>
    <body>
        <div id="leftMenu">
            {% for item in ["Vulnerabilities", "Penalties", "Forensics", "Export"] %}
                <span id="{{ item }}_listItem" class="menuItem {% if item == selected %}menuSelected{% endif %}">
                    {{ item }}
                </span><br>
            {% endfor %}
        </div>
        <div id="mainPane">
            {% block header %}
            <div id="header">
                Add a {{ name }}
            </div>
            {% endblock %}

            {% block content %}
            <!-- select an item from the left menu to get started -->
            {% endblock %}
        </div>
    </body>
</html>