
.menuSelected:before {
    content: "";
    background-color: darkgreen;
    width: 10px;
    height: 100%;
    right: 10px;
    display: block;
}

#leftMenu {
    width: 20%;
    height: 90%;
}

#leftMenu:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 5px;
    height: 80%;
    top: 10%;
    left: 20%;
    display: block;
  }

#mainPane {
    width: 80%;
    height: 90%;
}

