body{
    background: url("background.jpg");
    background-attachment: fixed;
    background-size: cover; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0; 
    height: 100vh;
}

#page {
    width: min(60%, 800px);
    margin: auto;
    margin-bottom: 0;
    color: black;
}

#menu {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    overflow: auto;
}

#logo {
    width: 100%-20px;
    padding: 10px;
}

#hotbar {
    width: 100%;
}

.filterButton {
    width: 130px;
    height: 30px;
    margin-left: 10px;
    float: left;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}

.filterButton a {
    vertical-align: middle;
    line-height: 30px;
    color: white;
    font-weight: 300;
}

.filterButton:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.dropdown {
    width: 9em;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-right: 30px;
    float: left;
}