#listing {
    margin-top: 50px;
    margin-bottom: 80px;
}

#listing table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
}

#listing table {
    width: 100%;
}

#listing tr:nth-child(odd) {
    background-color: rgb(86, 170, 255);
}

#listing tr:nth-child(even) {
    background-color: rgb(173, 211, 250);
}

#listing th {
    padding: 10px;
    color: white;
    cursor: default;
    background-image: linear-gradient(rgb(0, 127, 255), rgb(0, 1, 192));
}

#listing td {
    padding-top: 5px;
    padding-bottom: 5px;
}

#listing tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

#listing td:nth-child(1) {
    /* Team ID */
    width: 9em;
    font-family: monospace;
    font-size: x-large;
    text-align: center;
}

#listing td:nth-child(4) {
    /* Penalty column */
    width: 3em;
}

#listing td:nth-child(5) {
    /* Play time column */
    width: 7em;
}

#listing td:nth-child(6) {
    /* Score column */
    width: 3em;
}

#credits {
    background-color: rgb(0, 0, 255);
    color: white;
    width: 100%;
    height: 3em;
    position: fixed;
    bottom: 0;
}

#credits * {
    padding: 1em;
    margin-top: 0;
}

