<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="base.css">
        <link rel="stylesheet" href="scoreboard.css">
        <link rel="icon" href="polycp.ico">
        <script src="scoreboard.js" type="text/javascript"></script>
        <title>{{Organization}} Scoreboard </title>
    </head>
    <body>
        <div id="page"> 
            <!--The whole top part (with the logo and the hotbar)-->
            <div id="menu"> 
                <div id="logo"> 
                    <img src="logoLong.png" alt="Competition Host Logo">
                </div>
                <div id="hotbar">
                    <div class="filterButton" id="compButton">
                        <a>Competition</a>
                    </div> 

                    <div class="filterButton" id="divButton">
                        <a>Division</a>
                    </div>
                </div>
            </div>
            <div id="dropdowns">
                <div id="compDropdown" class="dropdown">
                    <input type="text" list="compSearch" placeholder="Search" size=16>
                    <datalist id="compSearch">
                        {% for comp in competitions %}
                        <option value="{{comp}}">
                        {% endfor %}
                    </datalist>                        
                </div>
                <div id="divDropdown" class="dropdown">
                    <input type="text" list="divSearch" placeholder="Choose a valid Competition" size=16>
                    <datalist id="divSearch">
                        {% for comp, divs in divisions.items() %}
                            {% for div in divs %}
                        <option value="{{div}}">
                            {% endfor %}
                        {% endfor %}
                    </datalist>                        
                </div>
            </div>
            
            <!--The desired list of teams ordered by score (default: all)-->
            <div id="listing"> 
                <table> 
                    <thead>
                        <th>Team ID</th>
                        <th>Competition</th>
                        <th>Division</th>
                        <th>Play Time</th>
                        <th>Score</th>
                        <th>Warning(s)</th>
                    </thead>
                </table>
            </div>
        </div>
        <!--Credits to the devs of this implementation of the engine-->
        
        <div id="transparent_padding">
        </div>
        <div id="credits"> 
            <p> &copy;PolyCP (not actually copyrighted)</p>
        </div>
    </body>
    <noscript> This page requires Javascript to function. </noscript>
</html>
